
@model Spice.Models.ShoppingCart
@using Spice.Extensions
@{ ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<br />
<h2 class="text-info font-weight-bold">Item Details</h2>
<br />

<form method="post"> @*no need for enctype tag, cause we're not posting any images and no need for asp-action*@
    <div class="border backgroundWhite row">


        @*for image*@
        <div class="Col-12 pb-4 d-md-none">   @*dont display for m and larger otherwise coi-12 and padding bottom 4*@         
            <img src="@Model.MenuItem.Image" width="100%" style="border-radius:5px;border:1px solid #bbb9b9" ; />
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-8">
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="MenuItem.Name" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="MenuItem.Name" readonly class="form-control" />
                </div>
                @*no validation*@
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="MenuItem.Description" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <div class="border p-2">
                        @Html.Raw(Model.MenuItem.Description) @*no need for TextAreaFor the description only Html.Raw*@
                    </div>
                </div>

                @*no need for validation*@
            </div>

            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="MenuItem.Price" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="MenuItem.Price" readonly class="form-control" />
                </div>
                @*no validation*@
            </div>

            @*no need for image*@

            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="MenuItem.CategoryId" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">

                    @*no need for dropdown:*@
                    @*<select asp-for="MenuItem.CategoryId" id="CategoryId" asp-items="Model.Category.ToSelectedListItem(Model.MenuItem.CategoryId)" class="form-control"></select>*@
                    <input asp-for="MenuItem.Category.Name" readonly class="form-control" />

                </div>
                @*no validation*@
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="MenuItem.SubCategoryId" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    @*no need for dropdown <select asp-for="MenuItem.SubCategoryId" name="SubCategoryId" id="SubCategoryId" asp-items="@(new SelectList(string.Empty,"Id","Name"))" class="form-control"></select>*@
                    <input asp-for="MenuItem.SubCategory.Name" readonly class="form-control" />
                </div>
                @*no validation*@
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="MenuItem.Spicyness" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <select asp-for="MenuItem.Spicyness" asp-items="@Html.GetEnumSelectList<MenuItem.ESpicy>()" disabled class="form-control"></select>
                </div>
                @*no validation*@
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Count" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Count" class="form-control" />
                </div>
                <span asp-validation-for="Count" class="text-danger" />
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
                <div class="col-md-4">
                    <button types="submit" value="Add to Cart" class="btn btn-primary form-control">Add to Cart</button>
                </div>
            </div>
        </div>

        @*for image*@
        <div class="col-3 offset-1 d-none d-md-block">
            @*bootStrap displays none(on s and xs), bootStrap displays block on medium and larger*@
            <img src="@Model.MenuItem.Image" width="100%" style="border-radius:5px;border:1px solid #bbb9b9" ; />
        </div>



    </div>
    <input asp-for="MenuItemId" hidden/> @*we need this when post the form*@
</form>


@section Scripts{
    <script>tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format'
        });</script>


    <script type="text/javascript">
        $(document).ready(function () {
            getSubCategory();
            $('#CategoryId').change(function () {
                getSubCategory();
            });
        });

        function getSubCategory() {
            var url = '@Url.Content("~/")' + "Admin/SubCategory/GetSubCategory";
            var ddlsoruce = '#CategoryId';
            $.getJSON(url, { id: $(ddlsoruce).val() }, function (data) {
                var items = '';
                $('#SubCategoryId').empty();
                $.each(data, function (i, subcategory) {
                    items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                });

                $('#SubCategoryId').html(items);
            })
        }
    </script>


    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}